.hero{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.634);
}
.short_hero{
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.634);
    position: relative;
}
.hero::before{
    width: 100%;
    height: 100%;
    content: "";
    background: url("/src/component/Images/adventure.jpg");
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.short_hero::before{
    width: 100%;
    height: 40vh;
    content: "";
    background: url("/src/component/Images/adventure.jpg");
    background-size: cover;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero h1{
    font-size: 2.4rem;
    text-transform: uppercase;
}
.hero p{
    text-align: center;
    font-size: 1.4rem;
}
.hero .heading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.short_hero .heading{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media(max-width: 640px) {
    .hero h1{
        font-size: 2rem;
    }
}