@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

ul{
    list-style: none;
}

ul li a:hover{
    background-color: #ffffff88;
}

a{
    text-decoration: none;
}
.btn{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #222;
    background-color: rgb(250, 210, 10);
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
}

.btn-light{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
}

.btn:hover, 
.btn-light:hover{
    box-shadow: 0 0 10px white;
    transition: all 0.3s;
}

h1, p{
    color: white;
}